/*--------------------------------------------------------------------------------------------------------------
-----------------------------------------------------Services---------------------------------------------------
---------------------------------------------------------------------------------------------------------------*/
#services{
	font:15px/1.3 'Century gothic', sans-serif;
	color: #5e5b64;
	text-align:center;
}

#services a, #services a:visited {
	outline:none;
	color:#389dc1;
}

#services a:hover{
	text-decoration:none;
}

#services section, #services footer, #services header, #services aside, #services nav{
	display: block;
}

/*-------------------------
	The order form
--------------------------*/

#services{
	background-color: #61a1bc;
	border-radius: 2px;
	box-shadow: 0 1px 1px #ccc;
	width: 500px;
	padding: 35px 60px;
	margin: 0px auto;
}

#services h1{
	color:#fff;
	font-size:50px;
	font-family:'Century gothic', cursive;
	font-weight: normal;
	line-height:1;
	text-shadow:0 3px 0 rgba(0,0,0,0.1);
}

#services ul{
	list-style:none;
	color:#fff;
	font-size:20px;
	font-weight:bold;
	text-align: left;
	margin:20px 0 15px;
	padding: 0px;
}

#services ul li{
	padding:20px 30px;
	background-color:#777;
	margin-bottom:8px;
	box-shadow:0 1px 1px rgba(0,0,0,0.1);
	cursor:pointer;
	border-radius:4px;
}

#services ul li span{
	float:right;
}

#services ul li.active{
	background-color:#8ec16d;
}

#services div.total{
	border-top:1px solid rgba(255,255,255,0.5);
	padding:15px 30px;
	font-size:20px;
	font-weight:bold;
	text-align: left;
	color:#fff;
}

#services div.total span{
	float:right;
}
#services .alert{
	text-align: left;
}
#services .alert p{
	font-weight: bold;
}
/*--------------------------------------------------------------------------------------------------------------
------------------------------------------------Fin Services---------------------------------------------------
---------------------------------------------------------------------------------------------------------------*/