<div class="img-rounded" id="content">
	<div class="list-group">
		<a id='list-gi-lg1' href="#" class="list-group-item">
			<h4 id='' class="list-group-item-heading">Séance de TD n°0</h4>
			<p id='' class="list-group-item-text">CodeSchool</p>
		</a>
		<a id='list-gi-lg1' href="#" class="list-group-item disabled">Séance de TD n°1&nbsp;<span id='badge-list-gi-lg1' class="badge">2 Exercices</span></a>
		<a id='lnk1' href="run/ex1" class="list-group-item">Exercice 1 : Note</a>
		<a id='lnk2' href="run/ex2" class="list-group-item">Exercice 2 : Choix de services</a>
		<a id='list-gi-lg1' href="#" class="list-group-item disabled">Séance de TD n°2&nbsp;<span id='badge-list-gi-lg1' class="badge">2 Exercices</span></a>
		<a id='lnk3' href="run/ex3" class="list-group-item">Exercice 1 : Choix multiples</a>
		<a id='lnk4' href="run/ex4" class="list-group-item">Exercice 2 : Gestion des contacts</a>
		<a id='list-gi-lg1' href="#" class="list-group-item disabled">Séance de TD n°3&nbsp;<span id='badge-list-gi-lg1' class="badge">2 Exercices</span></a>
		<a id='lnk5' href="run/ex5" class="list-group-item">Exercice 1 : Convertisseur de devises</a>
		<a id='lnk6' href="run/ex6" class="list-group-item">Exercice 2 : Calculatrice</a>
		<a id='list-gi-lg1' href="#" class="list-group-item active">
			<h3 id='' class="list-group-item-heading">Vacances</h3>
			<p id='' class="list-group-item-text">Du 16 au 22 février</p>
		</a>
		
		<a id='list-gi-lg1' href="#" class="list-group-item disabled">Séance de TD n°4&nbsp;<span class="label label-primary">Directives</span><span id='badge-list-gi-lg1' class="badge">3 Exercices</span></a>
		<a id='lnk8' href="ex7" class="list-group-item">Exercice 1 : Button</a>
		<a id='lnk9' href="ex8" class="list-group-item">Exercice 2 : Panel</a>
		<a id='lnk10' href="ex9" class="list-group-item">Exercice 3 : Progress bar</a>
	</div>
</div>