
<header class="navbar navbar-static-top bs-docs-nav" id="top"
	role="banner">
	<div class="container">

		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#navbarJS">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a data-forward-link class="navbar-brand" href="https://angularjs.org/" title="AngularJS Superheroic Framework" target="new"><img
						src="img/AngularJS_logo.png" alt="Brand" /></a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="navbarJS">
					<ul class="nav navbar-nav navbar-left">
						<li id='navbarJS-navzone-1-li-1'><a data-forward-link
							id='navbarJS-navzone-1-link-1'
							href="https://docs.angularjs.org/api" target="new" title="API Doc AngularJS">API Angular JS</a></li>
						<li id='navbarJS-navzone-1-li-2'><a data-forward-link
							id='navbarJS-navzone-1-link-2'
							href="http://slamwiki.kobject.net/slam4/richclient/angularjs/accueil" target="_self" title="Les TDs sur Slamwiki">Cours</a></li>
						<li class="dropdown" class="btn btn-default" role="button"><a
							id="navbarJS-navzone-1-dropdown-3" class="dropdown-toggle"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								TD n°1 <span class="caret"></span>
						</a>
							<ul class="dropdown-menu" role="menu"
								aria-labelledby="navbarJS-navzone-1-dropdown-3">
								<li id="navbarJS-navzone-1-dropdown-3-dropdown-item-1" class=""
									role="menuitem"><a role="" class="" tabindex="-1"
									href="ex1">Application Note</a></li>
								<li id="navbarJS-navzone-1-dropdown-3-dropdown-item-1" class=""
									role="menuitem"><a role="" class="" tabindex="-1"
									href="ex2">Choix de services</a></li>
							</ul></li>
						<li class="dropdown" class="btn btn-default" role="button"><a
							id="navbarJS-navzone-1-dropdown-4" class="dropdown-toggle"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								TD n°2 <span class="caret"></span>
						</a>
							<ul class="dropdown-menu" role="menu"
								aria-labelledby="navbarJS-navzone-1-dropdown-4">
								<li id="navbarJS-navzone-1-dropdown-4-dropdown-item-1" class=""
									role="menuitem"><a role="" class="" tabindex="-1"
									href="ex3">Choix multiples</a></li>
								<li id="navbarJS-navzone-1-dropdown-4-dropdown-item-1" class=""
									role="menuitem"><a role="" class="" tabindex="-1"
									href="ex4">Gestion des contacts</a></li>
							</ul></li>
						<li class="dropdown" class="btn btn-default" role="button"><a
							id="navbarJS-navzone-1-dropdown-5" class="dropdown-toggle"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								TD n°3 <span class="caret"></span>
						</a>
							<ul class="dropdown-menu" role="menu"
								aria-labelledby="navbarJS-navzone-1-dropdown-5">
								<li id="navbarJS-navzone-1-dropdown-5-dropdown-item-1" class=""
									role="menuitem"><a role="" class="" tabindex="-1"
									href="ex5"><span class='label label-primary'>1</span>&nbsp;Convertisseur
										de devises</a></li>
								<li id="navbarJS-navzone-1-dropdown-5-dropdown-item-1" class=""
									role="menuitem"><a role="" class="" tabindex="-1"
									href="ex6"><span class='label label-primary'>2</span>&nbsp;Calcultatrice</a></li>
								<li id="navbarJS-navzone-1-dropdown-5-dropdown-item-1" class=""
									role="menuitem"><a role="" class="" tabindex="-1"
									href="home"><span class='label label-primary'>3</span>&nbsp;Synthèse
										avec routage</a></li>
							</ul></li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>
	</div>
</header>